*{
  margin:auto;
}

h1{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  text-transform:uppercase;
  font-size: 40px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
    height:33px;
    font-size: 15px;
}

.react-datepicker__input-container input{
  padding-left: 10px;
  color:#bc243c
}
